@import url(https://fonts.bunny.net/css?family=poppins:500,800);

* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #731db5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.peekl-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 8vh;
  padding: 20px;
}

.peekl-buttons {
  padding: 20px;
}

.peekl-button {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1vh;
  font-family: 'Poppins', sans-serif;
  font-weight: '500';
  color: #731db5;
  text-decoration: none;
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .peekl-title { font-size: 10vh; }
  .peekl-buttons { display: flex; flex-direction: column; }
  .peekl-button { font-size: 2vh; }
}
